XMLPractice3/lessons_XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="timetable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LessonTitle" type="xs:string"/>
				<xs:element name="TutorLastName" type="xs:string"/>
				<xs:element name="LessonTime" type="xs:time"/>
				<xs:element name="LessonStartDate" type="xs:date"/>
				<xs:element name="LessonEndDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
