lessons_DTD.dtd

<?xml version = "1.0"?>
<!DOCTYPE lessons [
<!ELEMENT lessons (LessonTitle, TutorLastName, LessonTime, LessonStartDate, LessonEndDate)>
<!ELEMENT LessonTitle (#PCDATA)> 
<!ELEMENT TutorLastName (#PCDATA)> 
<!ELEMENT LessonTime (#PCDATA)> 
<!ELEMENT LessonStartDate (#PCDATA)> 
<!ELEMENT LessonEndDate (#PCDATA)>
]